/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Romantica';
  src: url('/fonts/Romantica.otf');
}

@font-face {
  font-family: 'Bulkey';
  src: url('/fonts/bulkey.ttf');
}


/* TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Carousel styles */
@layer utilities {

  .active{
    color: #82001e;
    text-transform: underline;
  }

  .fil0 {fill:#BCBDBD;fill-rule:nonzero}
  .fil1 {fill:#2B2A29;fill-rule:nonzero}

  .embla {
    position: relative;
    padding: 15px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
  }
  
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 350px;
  }
  
  .embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #e3e3e3;
    padding: 0;
  }
  
  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 100%;
    height: 100%;
  }
  
  .embla__button--prev {
    left: 27px;
  }
  
  .embla__button--next {
    right: 27px;
  }

  .fade-in-text {
    animation: fadeIn 4994ms infinite;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  /*
  .embla {
      position: relative;
      background-color: none;
      padding: 10px;
      width: 86%;
      margin-left: auto;
      margin-right: auto;
    }
    
  .embla__viewport {
      overflow: hidden;
      width: 100%;
    }
    
    .embla__viewport.is-draggable {
      cursor: move;
      cursor: grab;
    }
    
    .embla__viewport.is-dragging {
      cursor: grabbing;
    }
    
    .embla__container {
      display: flex;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -webkit-tap-highlight-color: transparent;
    }
    
    .embla__slide {
      position: relative;
      min-width: 34%;
      padding-left: 10px;
    }
    
    .embla__slide__inner {
      position: relative;
      overflow: hidden;
      height: 500px;
    }
    
    .embla__slide__img {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: auto;
      min-height: 100%;
      min-width: 100%;
      max-width: auto;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
    
    .embla__button {
      outline: 0;
      cursor: pointer;
      background-color: transparent;
      touch-action: manipulation;
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      fill: #e3e3e3;
      padding: 0;
    }
    
    .embla__button:disabled {
      cursor: default;
      opacity: 0.8;
    }
    
    .embla__button__svg {
      width: 100%;
      height: 100%;
    }
    
    .embla__button--prev {
      left: 27px;
    }
    
    .embla__button--next {
      right: 27px;
    }

    @keyframes flickerAnimation {
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-o-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-moz-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-webkit-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    .animate-flicker {
      top: 50%;
      text-align: center;
      -webkit-animation: flickerAnimation 2s infinite;
      -moz-animation: flickerAnimation 2s infinite;
      -o-animation: flickerAnimation 2s infinite;
      animation: flickerAnimation 2s infinite;
    }
    */
    /* Gallery */

    .categ {
      display: flex;
      flex-wrap: wrap;
      margin: 2vmin;
    }
    
    .categ-item {
      position: relative;
      height: 40vh;
      flex-grow: 1;
      margin: 0.3vmin;
      overflow: hidden;
    }
    
    .categ-item:last-child {
      flex-grow: 10;
    }
    .categ-item a:hover{
      border-radius: 0.3vmin;
    }
    .categ img {
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
      border-radius: 0.3vmin;
      cursor: pointer;
    }
    
    @media (max-aspect-ratio: 1/1) {
      .categ-item {
        height: 30vh;
      }
    }
    
    @media (max-height: 480px) {
      .categ-item {
        height: 80vh;
      }
    }
    
    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
      .categ {
        flex-direction: row;
      }
    
      .categ-item {
        height: auto;
        width: 100%;
      }
      .categ img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
      }
    }

    /* Nav-Area */
        
    .dropdown {
      position: absolute;
      right: 0;
      left: 0px;
      box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
      font-size: 0.875rem;
      z-index: 9999;
      min-width: 10rem;
      margin-right: 1rem;
      padding: 0.5rem 0;
      list-style: none;
      background-color: #fff;
      border-radius: 0.5rem;
      display: none;
      
    }
    
    .dropdown.show {
      display: block;
    }

    /* Hamburger :3 */
    .hideMenuNav {
      display: none;
    }
    .showMenuNav {
      display: block;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: white;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .mob {
      display:none;
    }
    .mob.show {
      display:block;
    }
}
